<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Times table matrix Generator</span>
  </mat-toolbar-row>
</mat-toolbar>


<div>
<button mat-button>Choose Size</button>
<!--<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onSmallClick()">Small Tables</button>
  <button mat-menu-item (click)="onMediumClick()">Medium Tables</button>
  <button mat-menu-item (click)="onLargeClick()">Large Tables</button>
</mat-menu>-->
<mat-slider [(ngModel)]="sliderValue"
            [thumbLabel] =  true
            min="2"
            max="12"
            value="6"
            (click)="onSliderChange()"
></mat-slider>
</div>
<div>
<button mat-button>Number of matrices</button>
<!--<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onSmallClick()">Small Tables</button>
  <button mat-menu-item (click)="onMediumClick()">Medium Tables</button>
  <button mat-menu-item (click)="onLargeClick()">Large Tables</button>
</mat-menu>-->
<mat-slider [(ngModel)]="numberMatrices"
            [thumbLabel] =  true
            min="1"
            max="12"
            value="6"
            (click)="onMatricesChange()"
></mat-slider>
</div>
