.column {
  float: left;
  width: 45%;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}


.footer {
  width:100%;
  position: relative;
  bottom:0;
  left:0;
}

.page-break{
  page-break-inside:auto;}

.page-break-row{
  break-inside: avoid-page !important;}

